* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;

}

.navbar {
    position: sticky;
    top: 0;
    background: linear-gradient(90deg, #3A6351, #1B3A4B);

    color: #ffffff;

    padding: 30px 0;
    z-index: 1000;
    transition: background 1s ease;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;

    transition: color 0.3s ease;

}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin-left: 20px;
    position: relative;
}

.navbar nav ul li a {
    color: #ffffff;

    text-decoration: none;
    font-size: 18px;
    padding-bottom: 10px;

    transition: color 0.3s ease, transform 0.3s ease;

    position: relative;
}

.navbar nav ul li a:hover {
    color: #FFBF69;

    transform: translateY(-3px);

}

.navbar nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFBF69;

    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar nav ul li a:hover::after,
.navbar nav ul li a.active::after {
    width: 100%;
}

.navbar nav ul li a.active {
    color: #FFBF69;

}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home {
    background-image: url('assets/solar-panel.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cta-button {
    background-color: #FFBF69;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #3A6351;
}

#home h3 {
    margin-top: 20px;
}

#home h1 {
    font-size: 36px;
}

#products {
    background-color: #dfdfdf;

    color: #000000;

}

#about {
    background-color: #f0f0f0;
    color: #333333;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #3A6351;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#about strong {
    color: #1B3A4B;
}

#about em {
    font-style: italic;
}

#cart {
    background-color: #dfdfdf;

    color: #000000;

}

#contact {
    background-color: #dfdfdf;

    color: #000000;

}

#contact h1 {
    font-size: 28px;
}

#products {
    background-color: #dfdfdf;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

#products h1 {
    margin-bottom: 20px;
    font-size: 35px;
}

.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;

    margin: 0 auto;

}

.product-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-card h2 {
    font-size: 20px;
    margin: 15px 0;
    color: #000000;
}

.product-card p {
    font-size: 16px;
    color: #555555;
}

.product-card .quantity-controls {
    margin-bottom: 10px;

}

.product-card button.add-to-cart {
    background-color: #3A6351;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;

}

.product-card button:hover {
    background-color: #FFBF69;
}

.product-card .price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #000000;
}

.product-card .quantity {
    font-size: 16px;
    margin: 10px 0;
    color: #000000;
}

.product-card .minus,
.product-card .plus {
    background-color: #3A6351;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card .minus:hover,
.product-card .plus:hover {
    background-color: #FFBF69;
}

.remove-item {
    background-color: #3A6351;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;

}

.remove-item:hover {
    background-color: #FFBF69;
}

#contact h2 {
    margin-bottom: 60px;

}

.contact-form {
    max-width: 800px;

    margin: 20px auto 0;

    text-align: left;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.contact-form input {
    width: 500px;

    max-width: 800px;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.contact-form textarea {
    width: 500px;

    max-width: 800px;

    padding: 10px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.contact-form .error-message {
    color: #ff0000;
    margin-top: 5px;
    display: none;
}

.contact-form input.error,
.contact-form textarea.error {
    border-color: #ff0000;
}

.contact-form input.success,
.contact-form textarea.success {
    border-color: #2E8B57;

    transition: border-color 0.5s ease;

}

.submit-button {
    background-color: #3A6351;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #FFBF69;
}


@keyframes gradient-border {
    0% {}

    50% {
        border-color: #FFBF69;

    }

    100% {
        border-color: #3A6351;

    }
}


.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;

    animation: gradient-border 3s infinite;

    border-width: 2px;

    border-style: solid;

}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.contact-form input.error,
.contact-form textarea.error {
    animation: shake 0.3s ease;

}

.sort-options {
    margin-bottom: 20px;

    text-align: left;

}

.sort-options label {
    font-size: 16px;
    color: #000000;
    margin-right: 10px;

}

.sort-options select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.sort-options select:focus {
    outline: none;
    border-color: #3A6351;

}

.sort-options select:hover {
    border-color: #FFBF69;

}